.gg {
	margin: 5%;
}
.card-block {
	padding: 2%;
}

.row-block {
	margin:5%;
}

.column-container {
	word-break: break-all;
}

.ans-container {
	padding: 2%;
	
}

.list-group {
	/*padding: 5% !important;*/
}





